body {
	font-family: quicksand;
	font-size: 16px;
	/*background-image: url('https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg');*/
	background-color: black;
	background-blend-mode: color-burn;
	background-position: fill;
	background-attachment: fixed;
}

.nick {
	color: white;
	padding: 5px;
	border: 2px solid grey;
	border-style: dashed;
	border-bottom-style: none;
	margin: auto;
	width: 200px;
}

#skill, #places, #projects, #email, #coding, #certs {
	padding: 10px;
	margin: 2px;
	font-size: 20px;
}

.column {
	width: 30%;
}

#banner {
	position: fixed;
	top:0px;
	right:5em;
}

#skl, #course {
	color: white;
}

.sp {
	text-align: right;
}

.place, .code {
	color: white;
}

.proj {
	color: white;
}

#name1 {
	font-size: 72px;
	font-weight: thick;
	font-family: quicksand;
	color: red;
}
 

#content {
	color: red;
}

.heading {
	border: 2px solid grey;
	border-style: dashed;
	border-right-style: none;
	border-top-style: none;
	padding: 5px;
	width: 300px;
}
