body {
	font-family: quicksand;
	font-size: 10px;
	/*background-image: url('https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg');*/
	background-color: black;
	background-blend-mode: color-burn;
	background-position: fill;
	background-attachment: fixed;
}

.nick {
	color: white;
	padding: 5px;
	border: 2px solid grey;
	border-style: dashed;
	border-bottom-style: none;
	margin: auto;
	width: 200px;
}

#skill, #places, #projects, #email, #coding, #certs {
	padding: 10px;
	margin: 2px;
	font-size: 11px;
	width: 240px;*/
}

.column {
	width: 100%;
	left: 30em;
}


#skl, #course {
	color: white;
}

.sp {
	text-align: right;
}

.place, .code {
	color: white;
}

.proj {
	color: white;
}

#name1 {
	font-size: 24px;
	font-weight: thick;
	font-family: quicksand;
	color: orange;
}

#content {
	color: red;
}

.heading {
	border: 2px solid grey;
	border-style: dashed;
	border-right-style: none;
	border-top-style: none;
	padding: 5px;
	width: 300px;
}
