body {
	font-family: quicksand;
	font-size: 16px;
	background-image: url('https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg');
	background-blend-mode: color-burn;
	background-position: fill;
	background-attachment: fixed;
}

.nick {
	color: white;
	padding: 5px;
	border: 2px solid grey;
	border-style: dashed;
	border-bottom-style: none;
	/*text-align: center;*/
	margin: auto;
	width: 200px;
}

#skill, #places, #projects, #email, #coding, #certs {
	/*align-items: center;*/
	/*border: 2px solid black;*/
	/*background-color: grey;*/
	/*background-image: url('https://i.pinimg.com/originals/f9/11/d3/f911d38579709636499618b6b3d9b6f6.jpg');*/
	padding: 10px;
	margin: 2px;
	font-size: 20px;
	/*width: 200px;*/
}

.column {
	width: 30%;
}

#banner {
	position: fixed;
	top:0px;
	right:5em;
}

#skl, #course {
	color: white;
}

.sp {
	text-align: right;
}

.place, .code {
	color: white;
}

.proj {
	color: white;
}

/*.column {
	float: left;
}*/

#name1 {
	font-size: 72px;
	font-weight: thick;
	font-family: quicksand;
	color: red;
}
 

#content {
	color: red;
}

.heading {
	border: 2px solid grey;
	border-style: dashed;
	border-right-style: none;
	border-top-style: none;
	padding: 5px;
	width: 300px;
}