body {
	font-family: monospace;
	background-color: black;
	color: white;
	font-size: 16px;
	max-width: 500px;
	vertical-align: middle;
	margin: auto;
}

.nick {
	color:grey;
}

#skl, #course, #mail {
	color: skyblue;
}

.place {
	color: skyblue;
}

.proj {
	color: skyblue;
}

.column {
	float: left;
}

#c1 {
	margin-left: 120px;
	width: 50%;
}

#c2 {
}

.em {
	color: skyblue;
}
 
a {
	color: skyblue;
}